/*.blink_text {
  animation: blinker 1s linear infinite;
  color: #F53527;
}

@keyframes blinker {
  50% {
    opacity: 90%;
    color: #F5E427;
  }
}*/

/*body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #1a1a1a;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}*/

/*.blink_text_container {
    position: relative;
    overflow: hidden;
}*/

#zoomLink{
    color: white;
}

.blink_text {
    /*font-size: 6rem;*/
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    animation: melt 1s infinite;
    background: linear-gradient(90deg, #ff6f61, #ffbd44, #ff6f61);
    -webkit-background-clip: text;
    color: transparent;
}

/*.blink_text::before,
.blink_text::after {
    content: '(New)';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #ff6f61, #ffbd44, #ff6f61);
    -webkit-background-clip: text;
    color: transparent;
    z-index: -1;
    transform: scaleY(1);
    opacity: 0.5;
    animation: drip 3s infinite ease-in-out;
}*/

.blink_text::after {
    filter: blur(10px);
    opacity: 0.3;
}

/* Keyframes for melting effect */
@keyframes melt {
    0%, 100% {
        transform: translateY(0);
        /*opacity: 0.5;*/
    }
    50% {
        transform: translateY(20px);
        opacity: 0.5;
    }
}

/*@keyframes drip {
    0%, 100% {
        transform: scaleY(1);
        opacity: 0.5;
    }
    50% {
        transform: scaleY(1.5);
        opacity: 0.7;
    }
}*/




.tbl_header{
   font-size: 18px;
   background-color: #d3413f;
   color: white;
}
.tbl_speaker th, td{
	padding: 15px;
   text-align: center;
   border: 3px solid white;
}
.tbl_subTitle{
	font-size: 14px;
   margin: 20px;
}
.tbl_uni{
	font-size: 14px;
	font-style: italic;
}
.tbl_rowEven{
   background-color: #ffdddd;
}
.tbl_rowSingle{
   background-color: #fff4f4;
}
.with-line {
  display: block;
}

.with-line:before,
.with-line:after {
  content: "";
  display: inline-block;
  border-top: 1px solid #000;
  width: 15%;
  vertical-align: middle;
  margin: 0 1em;
}

@media screen and (orientation: portrait) {
   .with-line:before,
   .with-line:after {
     /*content: "";*/
     display: none;
   }   
   .tbl_speaker{
      width: 80%;
   }
   html .div_speaker{
      -webkit-text-size-adjust: 70%;
      /*margin: auto;*/
      margin-left: 1px;
      margin-right: 1px;
   }
}